:root {
    --base-color: #000000;
    --text-color: #ffffff;
}

html {
    color: var(--text-color);
}

body {
    background-color: var(--base-color);
}

.text-container {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}